@inject NavigationManager nav

@if (IsPlaying)
{
<iframe src="https://clips.twitch.tv/embed?clip=@(ClipSlug)&parent=@(new Uri(nav.Uri).Host)&autoplay=true"
				width="@PlayerWidth"
				height="@PlayerHeight"
				frameborder="0"
				scrolling="no"
				allowfullscreen="true"
				class="player">
</iframe>
} else {
	
<div style="position: relative">
	<img src="@ThumbnailUrl" alt="@Title"
			 width="@PlayerWidth"
			 height="@PlayerHeight"
			 title="@Title" />
	<div @onclick="StartPlaying" class="overlayPlay" style="position: absolute; top:0; left:0; width: @($"{PlayerWidth}px"); height: @($"{PlayerHeight}px");z-index:10;font-size: 4em; color: #FFF; text-align: center;">
		<i class="fas fa-play" style="cursor: pointer; line-height: @($"{PlayerHeight}px")"></i>
	</div>
</div>

}
@code {

	/*
					height="405"
					width="720"
	*/

	[Parameter] public string ClipSlug { get; set; }

	[Parameter] public string Title { get; set; }

	[Parameter] public string ThumbnailUrl { get; set; }

	[CascadingParameter(Name = "Width")] public int Width { get; set; }

	protected bool IsPlaying { get; set; } = false;

	protected string PlayerWidth {  get { return Width > 900 ? "720" : "100%"; } }

	protected string PlayerHeight { get { return Width > 900 ? "405" : ""; } }

	void StartPlaying() {
		IsPlaying = true;
	}

}
